<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Benevolent Bronx</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--CSS -->
    <link href="static/css/style.css" rel="stylesheet">
    
  </head>
  
  <body>
    
    <h1>Benevolent Bronx</h1>
    <h2>We connect you to volunteering opportunities in your area!</h2>
    
    <br>
    
    <!--Carousel-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/images/image1.jpg" class="d-block w-100" alt="Volunteers">
        <div class="carousel-caption d-none d-md-block" style = "background-color: rgba(0, 175, 185, 0.5); border-radius: 40px;">
            <h5>Clean Planet Project</h5>
            <p>Our mission is to enable outdoor conservation & volunteerism in support of a cleaner future for our planet.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/image2.jpg" class="d-block w-100" alt="Volunteers Wanted">
          <div class="carousel-caption d-none d-md-block" style = "background-color: rgba(0, 175, 185, 0.5); border-radius: 40px;">
            <h5>My Very Own Blanket</h5>
            <p>My Very Own Blanket is dedicated to warming the heart of every child in the foster care system and children in need with a blanket, to give them a feeling of comfort, security and most of all, a SMILE.  Handmade blankets are created through the loving care of volunteers.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/image3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style = "background-color: rgba(0, 175, 185, 0.5); border-radius: 40px;">
            <h5>American Red Cross of Greater NY</h5>
            <p>The American Red Cross prevents and alleviates human suffering in the face of emergencies by mobilizing the power of volunteers and the generosity of donors.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <br>
    
    <!--Form -->
    <div class="form">
      <h5>Discover Volunteer Opportunities Near You</h5>
      
      <form method="post" action="/results">
        <label for="location">What is your location?</label>
        <select id="location" name="location">
          <option value="Baychester">Baychester</option>
          <option value="Morris Park">Morris Park</option>
          <option value="Fordham">Fordham</option>
          <option value="Riverdale">Riverdale</option>
        </select>
        <br>
        <label for="category">What type of volunteering are you interested in?</label>
        <select id="category" name="category">
          <option value="Environmental">Environmental</option>
          <option value="Animal">Animal</option>
          <option value="Social">Social</option>
          <option value="Healthcare">Healthcare</option>
        </select>
        <br>
      <input type='submit'class="register">
    </div>
    
    <br><br>

    <!--Add a closing tag-->
<!--  <div class="social">
    <button>
    <p>Helping The Community!</p><a href= "https://www.myveryownblanket.org/"></a></button>
   <div class="social">
    <button>
    <p>Cleaning Our Community!</p><a href= "https://www.cleanplanetproject.org/"></a></button>
     <div class="social">
    <button>
    <p>discovery guide!</p><a href= "https://bronxzoo.com/volunteering/discovery-guide-volunteer-program"></a></button> -->
    
    <footer style = "background-color: #0081A7;">
      <p>
        FTF Morgan Stanley Cohort B <br>
        Made by Malcolm, Maryann and Raunak
      </p>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>